// TopPage Contents Style
.mainPosts{
  @include span-columns(9);
  // TopPage Post Item
  &__list{
    @include outer-container(inherit);
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px $gray;
    &:last-child{
      border: none;
    }
    .thumbnail{
      @include span-columns(6);
      text-align: center;
      img{
        width: 80%;
        height: auto;
      }
    }
    // TopPage Post Info
    &__info{
      @include span-columns(6);
      margin-left: -15px;
      margin-top: 15px;
      h2{
        margin-bottom: 20px;
        a{
          display: inline-block;
          width: 100%;
          line-height: 130%;
          font-size: $h2Size;
          font-weight: bold;
          word-break: break-all;
          color: $black;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      ul{
        margin-bottom: 10px;
        li{
          display: inline-block;
          list-style-type: none;
          time{
            font-size: $textSizeS;
          }
          span{
            margin-left: 18px;
            margin-right: 5px;
            font-size: $textSizeS;
          }
          a{
            font-size: $textSizeS;
            text-decoration: none;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
      a.readmore{
        display: inline-block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin-top: 20px;
        border: solid 2px $mainColor;
        border-radius: 8px;
        background-color: $white;
        color: $mainColor;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        transition: all 0.3s;
        &:hover{
          color: $white;
          background-color: $mainColor;
        }
      }
    }
  }
}
