
  </div><!-- /.warpper -->

  <footer class="footer">
    <div class="footer__wrapper">
      <ul class="footer__info">
        <li><a href="#">会社情報</a></li>
        <li><a href="#">GiTについて</a></li>
        <li><a href="#">メンバー</a></li>
        <li><a href="#">採用情報</a></li>
      </ul>
      <div class="footer__mission">
        Your Growth, Our Future.
      </div>
      <div class="footer__logo">
        <img src="images/GiT_logo_mark.png" alt="">
      </div>
      <p class="copy">Copyright &copy; 2015 Givery.inc All Rights Reserved.</p>
    </div>
  </footer>

</body>
</html>
