<% include _header %>

    <article class="notFound">
      <h2 class="notFound__title">お探しのページは見つかりませんでした</h2>
      <!-- For 404 -->
      <!-- <p class="notFound__body">
        <a href="#">TOP</a>に戻って最新記事をご覧ください。
      </p> -->
      <!-- For Search -->
      <p class="notFound__body">
        「SearchWord」の検索結果に当てはまる記事は見つかりませんでした。<br />
        <a href="#">TOP</a>に戻って最新記事をご覧くだくか、他のキーワードで検索をしてください。
      </p>
    </article>

    <% include _sidebar %>
<% include _footer %>
