<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <script src="script/script.js"></script>
  <title>GiT log - Givery Technology Blog</title>
</head>
<body>
  <header>
    <div class="header">
      <h1 class="header__logo">
        <a href="#">
          <img src="images/GiT_logo.png" alt="Givery Technology">
        </a>
      </h1>
      <div class="header__side">
        <form class="header__search" action="#">
          <input type="text">
          <button><span class="glyphicon glyphicon-search"></span></button>
        </form>
      </div>
    </div>
  </header>

  <div class="wrapper">
