<% include _header %>

    <section class="mainPosts">
      <article class="mainPosts__list">
        <div class="mainPosts__left">
          <img src="images/thumbnail.png" alt="thumbnail">
        </div>
        <div class="mainPosts__right">
          <h2><a href="#">[SLab.]CSSを爆速コーディング！今すぐ始められる「Sass」＆「Compass」入門！【Compass入門編】</a></h2>
          <ul>
            <li>
              <time data-time="2015-02-12">2015/02/12</time>
            </li>
            <li>
              <span>Author</span>
              <a href="#">Test</a>
            </li>
          </ul>
          <ul class="categories">
            <li>
              <a href="#">Category</a>
            </li>
          </ul>
          <a class="readmore" href="#">Read More.</a>
        </div>
      </article>
    </section>

    <% include _sidebar %>
<% include _footer %>
