<% include _header %>

    <article class="singlePost">
      <div class="singlePost__info">
      </div>
      <h2 class="singlePost__postTitle">[SLab.]CSSを爆速コーディング！今すぐ始められる「Sass」＆「Compass」入門！【Compass入門編】</h2>
      <div class="thumbnail">
        <img src="images/pages-sample.png" alt="thumbnail">
      </div>
      <div class="giveryMission">Your Growth, Our Future.</div>
      <section class="singlePost__body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nostrum obcaecati quo id asperiores maxime molestiae amet maiores incidunt, excepturi, eum eligendi vitae mollitia, commodi adipisci cupiditate quaerat nisi nihil.</p>
        <p><a href="#">Lorem ipsum dolor sit amet</a>, consectetur adipisicing elit. Architecto nostrum obcaecati quo id asperiores maxime molestiae amet maiores incidunt, excepturi, eum eligendi vitae mollitia, commodi adipisci cupiditate quaerat nisi nihil.</p>
        <h3>初の海外！初のアメリカ！何もかもが新鮮でした！</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nostrum obcaecati quo id asperiores maxime molestiae amet maiores incidunt, excepturi, eum eligendi vitae mollitia, commodi adipisci cupiditate quaerat nisi nihil.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nostrum obcaecati quo id asperiores maxime molestiae amet maiores incidunt, excepturi, eum eligendi vitae mollitia, commodi adipisci cupiditate quaerat nisi nihil.</p>
        <h4>初の海外！初のアメリカ！何もかもが新鮮でした！</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nostrum obcaecati quo id asperiores maxime molestiae amet maiores incidunt, excepturi, eum eligendi vitae mollitia, commodi adipisci cupiditate quaerat nisi nihil.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nostrum obcaecati quo id asperiores maxime molestiae amet maiores incidunt, excepturi, eum eligendi vitae mollitia, commodi adipisci cupiditate quaerat nisi nihil.</p>
      </section>
    </article>

    <% include _sidebar %>
<% include _footer %>
